

/* GRID */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}

.container{
  width: calc(100% - 7.29166667%);
  margin: 0 auto;
}

.row{
  display: grid;
  grid-template-columns: repeat(4,minmax(6.4rem,1fr));
  gap: 1rem;
}
.column{
  width: 100%;
}

.col-300-1{
  grid-column: span 1;
}
.col-300-2{
  grid-column: span 2;
}
.col-300-3{
  grid-column: span 3;
}

.col-300-4{
  grid-column:span 4;
}

@media only screen and (min-width: 414px){
  .row{
    display: grid;
    grid-template-columns: repeat(4,minmax(7.8rem,1fr));
    gap: 1rem;
  }
  .column{
    width: 100%;
  }
  
  .col-414-1{
    grid-column: span 1;
  }
  .col-414-2{
    grid-column: span 2;
  }
  .col-414-3{
    grid-column: span 3;
  }
  
  .col-414-4{
    grid-column:span 4;
  }
}

@media only screen and (min-width: 768px){
  .row{
    grid-template-columns: repeat(8,minmax(6.2rem,1fr));
    gap: 1.6rem;
  }
  
  .col-768-1{
    grid-column: span 1;
  }
  .col-768-2{
    grid-column: span 2;
  }
  .col-768-3{
    grid-column: span 3;
  }

  .col-768-4{
    grid-column:span 4;
  }

  .col-768-5{
    grid-column:span 5;
  }

  .col-768-6{
    grid-column:span 6 ;
  }

  .col-768-7{
    grid-column:span 7;
  }

  .col-768-8{
    grid-column:span 8;
  }

  
}

@media only screen and (min-width: 1024px){
  .row{
    grid-template-columns: repeat(12,minmax(5.1rem,1fr));
    gap: 1.6rem;
  }
    
  .col-1024-1{
    grid-column: span 1;
  }
  .col-1024-2{
    grid-column: span 2;
  }
  .col-1024-3{
    grid-column: span 3;
  }

  .col-1024-4{
    grid-column:span 4;
  }

  .col-1024-5{
    grid-column:span 5;
  }

  .col-1024-6{
    grid-column:span 6 ;
  }

  .col-1024-7{
    grid-column:span 7;
  }

  .col-1024-8{
    grid-column:span 8;
  }

  .col-1024-9{
    grid-column:span 9;
  }

  .col-1024-10{
    grid-column:span 10;
  }

  .col-1024-11{
    grid-column:span 11;
  }

  .col-1024-12{
    grid-column: span 12;
  }
}

@media only screen and (min-width: 1280px){
  .row{
    grid-template-columns: repeat(12,minmax(6.9rem,1fr));
    gap: 1.6rem;
  }

  .col-1280-1{
    grid-column: span 1;
  }
  .col-1280-2{
    grid-column: span 2;
  }
  .col-1280-3{
    grid-column: span 3;
  }
  
  .col-1280-4{
    grid-column:span 4;
  }
  
  .col-1280-5{
    grid-column:span 5;
  }
  
  .col-1280-6{
    grid-column:span 6 ;
  }
  
  .col-1280-7{
    grid-column:span 7;
  }
  
  .col-1280-8{
    grid-column:span 8;
  }
  
  .col-1280-9{
    grid-column:span 9;
  }
  
  .col-1280-10{
    grid-column:span 10;
  }
  
  .col-1280-11{
    grid-column:span 11;
  }
  
  .col-1280-12{
    grid-column: span 12;
  }
}

@media only screen and (min-width: 1366px){
  .row{
    grid-template-columns: repeat(12,minmax(7.6rem,1fr));
    gap: 1.6rem;
  }
  
.col-1366-1{
  grid-column: span 1;
}
.col-1366-2{
  grid-column: span 2;
}
.col-1366-3{
  grid-column: span 3;
}

.col-1366-4{
  grid-column:span 4;
}

.col-1366-5{
  grid-column:span 5;
}

.col-1366-6{
  grid-column:span 6 ;
}

.col-1366-7{
  grid-column:span 7;
}

.col-1366-8{
  grid-column:span 8;
}

.col-1366-9{
  grid-column:span 9;
}

.col-1366-10{
  grid-column:span 10;
}

.col-1366-11{
  grid-column:span 11;
}

.col-1366-12{
  grid-column: span 12;
}
}

@media only screen and (min-width: 1920px){
  .row{
    grid-template-columns: repeat(12,minmax(12.1rem,1fr));
    gap: 1.6rem;
  }

  .col-1920-1{
    grid-column: span 1;
  }
  .col-1920-2{
    grid-column: span 2;
  }
  .col-1920-3{
    grid-column: span 3;
  }
  
  .col-1920-4{
    grid-column:span 4;
  }
  
  .col-1920-5{
    grid-column:span 5;
  }
  
  .col-1920-6{
    grid-column:span 6 ;
  }
  
  .col-1920-7{
    grid-column:span 7;
  }
  
  .col-1920-8{
    grid-column:span 8;
  }
  
  .col-1920-9{
    grid-column:span 9;
  }
  
  .col-1920-10{
    grid-column:span 10;
  }
  
  .col-1920-11{
    grid-column:span 11;
  }
  
  .col-1920-12{
    grid-column: span 12;
  }
}


